<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" *ngIf="regForm">
        <h3>Registration Form</h3>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="form-group">
            <label for="mobNumber">Mobile Number</label>
            <input
              type="tel"
              class="form-control"
              formControlName="mobNumber"
            />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="tel" class="form-control" formControlName="age" />
          </div>
          <div class="form-group">
            <label for="dob">Enter Your DOB</label>
            <input type="date" class="form-control" formControlName="dob" />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="dummy@gmail.com"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="address">Address</label>
              <input
                type="text"
                class="form-control"
                formControlName="addLine1"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="address2">Address 2</label>
              <input
                type="text"
                class="form-control"
                formControlName="addLine2"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input type="text" class="form-control" formControlName="city" />
            </div>
            <div class="form-group col-md-4">
              <label for="state">State</label>
              <select
                id="inputState"
                class="form-control"
                formControlName="state"
              >
                <option selected>Choose...</option>
                <option value="state1">State1</option>
                <option value="state2">State2</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="zip">Zip Code</label>
              <input
                type="text"
                class="form-control"
                formControlName="zipCode"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="language">Language</label>
            <select
              multiple
              class="form-control"
              formControlName="language"
              id="language"
            >
              <option value="hindi">Hindi</option>
              <option value="english">English</option>
              <option value="telugu">Telugu</option>
              <option value="odiya">Odiya</option>
              <option value="bhojpuri">Bhojpuri</option>
              <option value="others">Others</option>
            </select>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                formControlName="gender"
                value="male"
              />
              <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                formControlName="gender"
                value="female"
              />
              <label for="female" class="form-check-label">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                formControlName="gender"
                value="others"
              />
              <label for="others" class="form-check-label">Others</label>
            </div>
          </div>
          <div class="form-group">
            <label for="aboutYou">Something About You</label>
            <textarea
              name="aboutYou"
              class="form-control"
              rows="3"
              formControlName="aboutYou"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="uploadPhoto">Upload Photo</label>
            <input
              type="text"
              class="form-control"
              formControlName="uploadPhoto"
            />
          </div>
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="aggretc"
            />
            <label for="aggretc" class="form-check-label"
              >Terms and Conditions</label
            >
          </div>
          <div class="form-group col-md-4">
            <label for="state">What do you want</label>
            <select class="form-control" formControlName="state">
              <option selected>Choose...</option>
              <option value="seller">Seller</option>
              <option value="buyer">Buyer</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="state">Role</label>
            <select class="form-control" formControlName="role">
              <option selected>Choose...</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div>
          <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
        <a class="sim-poniter" routerLink="/sign-in">
          Already have a Account? click to Login
        </a>
      </div>
      <!-- login form -->
      <div class="col-md-6 offset-md-3" *ngIf="!regForm">
        <h3>Login</h3>
        <form action="">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="userEmail" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="userPassword" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Login</button>
          </div>
          <a class="sim-aoniter" routerLink="/sign-in">
            Don't have a Account? click to Register
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
